.a {
	background: black;
}

@font-face {
	src: url("./fonts/SangSangTitle.ttf");
	font-family: "font1";
	src: url("./fonts/Rix∞ÌµÒB.ttf");
	font-family: "font2";
	
	
	
}

p {
	font-family: "font1";
	font-size: 25px;
}

p1 {
	font-family: "font1";
	font-size: 30px;
}

p2 {
	font-family: "font2";
	font-size: 15px;
}



table {
	width: 100%;
	border-top: 1px solid #444444;
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid #444444;
	padding: 10px;
}
