@charset "UTF-8";


/* <- Demo Stuff Start */

body{
  font-family: 'Montserrat', sans-serif;
  margin:0;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80vw;
  margin: 0 auto;
}
.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  text-align: center;
  color: black;
  border-radius: 40px;
  width: 30px;
  background-color: #FFBFBF;
 }


.btn:hover {
  background-position: right center; 
}

